<form id="queryform" action="/search" method="post">
  <input type="text" name="query" id="box" placeholder="#hashtag"/>	
  <input type="submit" id="submit" value="Search"/>
</form>

<% if @results %>
		<% @results.each do |r| %>
			<!--<td><%=r.inspect%></td>-->
			<div class="tweet">
        <div class="profileimage">
          <img src="<%= r.profile_image_url %>">
        </div>
        <div class="tweetcontent">
          <span class="profilename">@<%= r.from_user %></span>
          <p><%= r.text %></p>
        </div>
      </div>
		<%end%>
<% end %>
