<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>tweetsvu</title>
  <meta name="description" content="trendvz is a final year honours project that evaluates better representations of twitter search results">
  <meta name="author" content="Khurram Aslam">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <div id="container">
    <header>
      <h1>tweetsvu</h1>
    </header>
    
    <div id="main" role="main">
      <div id="status">
        <h2>Current Status: Working on System Architecture diagram!</h2>
      </div>
      
      <h2>Motivation</h2>
      <p>Twitter has established itself as a dominant force in the online social networking movement. The majority of users use Twitter to maintain their profile and update statuses which has the side effect of creating big data. Useful data can often be extracted from big data.</p>
      <p>However, Twitter does not lend itself to the typical data representation that is used by traditional search engines such as Google and as thus these copycat search engines adapted for Twitter do not display results in the best way possible considering the different key characteristics of Twitter's data.</p>
      
      <h2>Why Search Twitter?</h2>
      <p>There are many reasons someone may want to search through the vast array of tweets, such as:</p>
      <ul>
        <li>Looking for very recent tweets (real-time public reactions)</li>
        <li>Finding opinions of known authors</li>
      </ul>

      <h2>Is it really broken?</h2>
      <p>Yes..</p>
      
      <h2>System Architecture</h2>
      <p>The following is a diagram of</p>
      
      <h2>Supervision</h2>
      <p>This project is being supervised by <a href="http://homepages.inf.ed.ac.uk/ewan/">Ewan Klein</a> at the University of Edinburgh</p>
    </div>

    <footer>
      <p>Developed by <a href="mailto:khurram@aslam.me">Khurram Aslam</a> at the University of Edinburgh, 2011</p>
    </footer>
  </div> <!-- end of #container -->
</body>
</html>
