body {
  background-color: #f5f5f5;
  font: 16px Palatino, serif;
  padding: 40px;
}

p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 26px;
}

#report p {
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 25px;
}

#report li {
  color: #404040;
  font-size: 18px;
  line-height: 26px;
}

#report img {
  display: block;
  margin: 0 auto;
}

.topbar .fill {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url('../images/headerbg.png');
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.25);
     -moz-box-shadow: 0 3px 3px rgba(0,0,0,.25);
          box-shadow: 0 3px 3px rgba(0,0,0,.25);
}

.topbar .fill .nav .active a {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
  background-image: url('../images/headerbg.png');
  background-position: 0 -50px;
  background-color: #222;
  -webkit-box-shadow: inset 0 5px 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 5px 10px rgba(0, 0, 0, .5);
      box-shadow: inset 0 5px 10px rgba(0, 0, 0, .5);
}

.container .content {
  width: 820px;
  background-color: white;
  padding: 40px 60px;
  margin: 20px 0px;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 15px rgba(0,0,0,.2);
          box-shadow: 0 5px 15px rgba(0,0,0,.2);  
}

#queryform {
  margin: 0 auto 40px auto;
  width: 575px;
}

#queryform .span8 {
  padding: 10px;
  font-size: 20px;
}

#queryform .btn {
  font-size: 22px;
}

#results {
  float: left;
  margin-top: 10px;
}

#results hr {
  border-bottom: 1px solid #ddd;
  margin-left: 20px;
}

#results .row p {
  margin: 0;
}

#results .row h3 {
  padding-left: 14px;
  line-height: 1;
  padding-bottom: 10px;
}

#results .row h3 .timesince {
  float: right;
  font-size: 16px;
}

#results ul {
  list-style: none;
  margin: 0;
}

.sort-by, .filter {
  float: left;
}

.sort-by .btn, .filter .btn {
  font-size: 12px;
}

#results ul.filter {
  margin-left: 10px;
}

.boxtop {
  margin-bottom: 10px;
}

#sortings {
  margin-bottom: 25px;
}

.annotatedtimelinetable td {
  border: 0;
}

.hidden {
  display: none;
}

#tag_count, #user_count, #url_count, #sentiment, #activity_graph {
  float: left;
}

#tag_count, #user_count {
  padding-right: 5px;
}

#title_page {
  margin-bottom: 40px;
}

#title_page h1, #title_page h2, #title_page h3 {
  text-align: center;
  font-weight: normal;
}

#title_page h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 60px auto;
  width: 500px;
}

#title_page h2 {
  margin: 40px 0 40px 0;
}

footer {
  float: left;
  width: 820px;
  border-top: 1px solid #ddd;
}

footer p {
  text-align: center;
}
