{% extends "layout.html" %}
{% block body %}
{% filter markdown %}
<div id="report">
  
  <div id="title_page">
    <h1 id="university">University of Edinburgh Division of Informatics</h1>
    <h2>Evaluating Exploratory Search Tools as an <br />
      Enhanced Method to Query Twitter</h2>
    <h2>4th Year Project Report<br />Computer Science</h2>
    <h3>Khurram Aslam</h3>
    <h3>January 1, 2012</h3>
  </div>

Abstract
========
Twitter, a microblogging social media platform service, allows it's users to post 140 character statuses (tweets) that can be displayed publically to a person's online personal network. These tweets can consist of independent announcements, direct messages, and even inclusion of media such as links to photos, videos and other web pages.

As social networks such Twitter, Google Plus and Facebook have gained popularity, researchers and marketers are beginning to appreciate the value that can be brought by exploring this vast collection of data. Similar to how Google is a search interface that provides a suitable way to retrieve web pages in the world-wide-web; academics, marketers, and even end-users are showing interest in exploring relevant social media data in different granularities. 

In this paper we establish the problems with the traditional search engine that has is still being used for social search and describe alternative design solutions that better present the data by considering the rich metadata that come along with each Tweet.

Acknowledgements
================
Remember to thank Ewan Klein, thank Stratis Viglas, thank user testers and anyone else who should be thanked here.

Table of Contents
=================

1. [Introduction](#introduction)
2. [Literature Review](#literature)
3. [Methodology](#methodology)
4. [Implementation](#implementation)
5. [Evaluation](#evaluation)
6. [Conclusion](#conclusion)
7. [Limitations and Future Research](#limitation)

<a name="introduction"></a>

1. Introduction
================

This introductory chapter will begin by motivating the HCI problem at hand, understand and verify the reasons for applying search to social media, consider the existing solutions, and finally offer brief ideas that may be expanded to produce a solution. 

1.1 Motivation
--------------
Twitter, a microblogging social media platform service, allows it's users to post 140 character statuses (tweets) that can be displayed publically to a person's online personal network. These tweets can consist of independent announcements, direct messages, and even inclusion of media such as links to photos, videos and other web pages.

As social networks such Twitter, Google Plus and Facebook have gained popularity, researchers and marketers are beginning to appreciate the value that can be brought by exploring this vast collection of data. Similar to how Google is a search interface that provides a suitable way to retrieve web pages in the world-wide-web; academics, marketers, and even end-users are showing interest in exploring relevant social media data in different granularities. 

Twitter includes a search engine that can be used to query tweets in the timeline of a period upto around 7 days in the past. This search interface however is based upon the traditional model and returns results in a list ordered by time. While this can be useful for scanning a few of the the most recent tweets, it lacks any method for exploration or filtering of data by it's rich metadata such as: sentiment, original/retweet, direct message, geo-location, language, author, and popularity. A search interface that does not aim to conform to the interface of a traditional search engine and instead leverages these distinct characteristics would result in an easier, more intuitive, and more satisfactory interaction with the end-user.  

1.2 Reasons to Search Twitter
-----------------------------
Social networking websites are no longer simply a relationship management tool. For many users, the focus has shifted and allowed them to create an online presence. Twitter in particular can be considered different to many other social networking websites as it still revolves around 140 character user statuses (tweets). This type of interaction lends itself to being less social in comparison to platforms such as Facebook where video, photo and chat are built into the core. Therefore it is no surprise that the content held on Twitter in each tweet is concise generally single purposed (an opinion, url link, etc).

In a recent research paper "#TwitterSearch: A Comparison of Microblog Search and Web Search" [1], 54 Twitter users working at Microsoft were questioned to try and categorise the reasons that people search Twitter. The question was open-ended and the responses were free-form text that was categorised. 

The results showed that 23 (49%) of respondents searched Twitter on a regular basis to find timely information such as "technology news" and "trends" in order to gain "information on a currently trending topic". Reasoning for this included the need to "keep up with events" and to answer their questions such as "why is this trending". It can therefore be assumed that some of these users find it useful to search Twitter to gain at least some introductory knowledge about a current event. Four users in the same group reported that they search Twitter for "real-time" information such as traffic/weather reporting or other geo-graphically relevant information.

It was also found that 26% of particpants used social search in order to retrieve more social information such as "locating people with similar interests" or to discover what particular individuals were saying. Interestly, some users reported that they like to know how certain users respond and thus use the '@' symbol in the query in order to find reponses to questions that a certain user has answered. Many users reported that they often search for their own names in order to monitor their profile. In addition to people locating, four respondents mentioned that they may often wish to learn the "community buzz" with regards to a certain topic; for example "what people are talking about with regards to an upcoming Microsoft event or product".

36% of participants mentioned that they often search Twitter for topical information. However it was shown that even topically motivated searches appeared to contain underlying themes related to timely and social information. Further individual interviews with some participants showed that the Microsoft employees often use Twitter or other social mediums to find public sentiment about a topic of interest, regardless of where the topic was originally discovered from.

In order to gain some further understanding of why users search Twitter and other social networking websites for content, I conducted a survey with 17 participants. I asked each participant to state how often they use Twitter search and to then select the most relevant reason for searching Twitter for their given frequency. There is potential for the survey to be skewed as the participants were all in the 18-25 age range and technically savvy. This questionnaire model closely follows a similar survey conducted in a recent CHI paper "Making Sense of Twitter Search" [2].

The results are presented in the following graph:

<img src="{{ url_for('static', filename='images/survey.jpg') }}">

As the total number of participants were low, the results cannot be considered conclusive, however can give some general insight to the reasons that this select number of people have for using social search. One interest point noticed was that three users searching Twitter daily noted that they search for real-time events and trending topics, yet none of those who search rarely use Twitter search for these purposes.

1.3 The Traditional Search Model
--------------------------------
The problem with the current interface is that it inherits from the design of traditional search engines such as Google and is optimized for showing the most recent results first. While this interface may be ideal for displaying a ranked set of web pages, the small character limit of a tweet makes it incredibly difficult to rank tweets which means they are ordered by time. The interface does not favour towards the distinct metadata of a tweet such as geo-location, original tweets/re-tweets, document links within tweets, sentiment analysis and does not allow for exploration of results. Viewing few most recent tweets is particularly easy with this model, which is good for timely queries, however makes it very difficult to explore the result set.

The following is a snapshot of the results for the hashtag 'programming', which gives a concrete example of the problem:

<a href="{{ url_for('static', filename='images/existingresults.png') }}">
  <img width="500" src="{{ url_for('static', 
  filename='images/existingresults.png') }}"></img>
</a>

Recently, Twitter has introduced a filter that shows 'Top' tweets, 'Top images' and 'Top Videos', along with a set of relevant people within the result set. These are some good additional features for exploring the result set, but is still only an introductory solution to the problem.

1.4 Search in Social Media
--------------------------
"Search in Social Media" a term used to describe the process of searching for data that is held within a social network such as Facebook and Twitter for relevant data. This may mean searching tweets, blog posts, comment threads, tags, etc. This is opposed to Social Search or Collaboritive search within which multiple users collaborate to perform a search.

Social media search queries often represent broad or vague information needs, and thus call for a more browsing-oriented interface than web search, which is optimized for highly specific needs.

The following table shows a good disection of search and social search [3].

<img src="{{ url_for('static', filename='images/ssm.jpg') }}">

<a name="literature"></a>

2. Literature Review
====================

2.1 TweetMotif: Exploratory Search and Topic Summarization for Twitter
----------------

2.2 #TwitterSearch: A Comparison of Microblog Search and Web Search
----------------

2.3 Making sense of Twitter Search
---------------

2.4 A Torrent of Tweets: Managing Information Overload in Online Social Streams
---------------

2.5 Leveraging the Semantics of Tweets for Adaptive Faceted Search on Twitter
----------------

2.6 Exploring Twitter Hashtags
----------------

2.7 Aemoo: Exploratory Search based on Knowledge Patterns over the Semantic Web
----------------

2.8 Casual-leisure Searching: the Exploratory Search scenarios that break our current models
----------------

2.9 A Comparison of Information Seeking Using Search Engines and Social Networks
----------------

2.10 Searching Twitter: Separating the Tweet from the Chaff
----------------

2.11 Using Twitter to Assess Information Needs: Early Results
----------------

<a name="methodology"></a>

3. Methodology
==============

<a name="implementation"></a>

4. Implementation
=================

<a name="evaluation"></a>

5. Evaluation
=============

<a name="conclusion"></a>

6. Conclusion
=============

<a name="limitation"></a>

7. Limitations and Future Research
==================================

References
==========

[1] http://dl.acm.org/citation.cfm?id=1935842 "A Comparison of Microblog Search and Web Search"

[2] http://www.fxpal.com/?p=abstract&abstractID=555 "Making sense of Twitter Search"

[3] http://palblog.fxpal.com/?p=2814 "What do we mean by Search in Social Media"

[4] http://brenocon.com/oconnor_krieger_ahn.icwsm2010.tweetmotif.pdf "TweetMotif: Exploratory Search and Topic Summarization for Twitter"

Appendices
==========

Useful Links
---------
* [Hilary Mason](http://www.hilarymason.com/)
* [Search and Social Media (SSM2010)](http://cacm.acm.org/blogs/blog-cacm/71444-third-workshop-on-search-and-social-media-ssm-2010/fulltext)
* [Making Sense of Twitter Search (Apr 2010)](http://www.fxpal.com/publications/FXPAL-PR-10-555.pdf)
* [Managing information overload in online social streams](http://cs.unc.edu/~julia/accepted-papers/bernstein-microbloggingCHI2010-cameraready.pdf)
* [FXPAL Blog](http://palblog.fxpal.com">FXPAL Blog)
* [Socialmention](http://socialmention.com)
* [PeopleBrowsr](http://rs.peoplebrowsr.com)
* [Twapperkeeper](http://twapperkeeper.com)
* [Tools for capturing tweets](http://brodiesnotes.blogspot.com/2011/05/list-of-tools-for-finding-or-capturing.html)
* [Searching old tweets](http://blog.tweetsmarter.com/twitter-search/10-ways-and-20-features-for-searching-old-tweets/)
* [Twitter sentiment analysis](http://nlp.stanford.edu/courses/cs224n/2010/reports/drao-sidbatra.pdf)
* [Twitter Analytics](http://www.ece.stevens-tech.edu/~mouli/twitter.pdf)
* [Complete Twitter App list](http://socialmediatoday.com/eric-goldstein/295232/most-complete-twitter-application-list-available-2011-edition)
* [Hashtagify.me](http://hashtagify.me)
* [Twitter bootstrap](http://twitter.github.com/bootstrap/)
* [Twitter engineering blog](http://engineering.twitter.com)
* [Follow the hashtag](http://infosthetics.com/archives/2011/12/follow_the_hash_tag_dynamic_bubble_graphs_of_tweets.html)
* [Twitter apprentice](http://rooreynolds.com/2010/10/12/twitter-and-the-apprentice-some-quick-observations/)
* [Flask Documentation](http://flask.pocoo.org/docs/flask-docs.pdf)
* [Feeltiptop](http://FeelTipTop.com/)
* [Tawlk](http://tawlk.com)
* [Twitterment](http://www.twitterment.com)
* [Twazzup](http://www.twazzup.com)
* [Twitscoop](http://www.twitscoop.com/)
* [Topsy](http://topsy.com)
* [Research on Twitter](http://www.danah.org/researchBibs/twitter.php)
* [Leveraging the Semantics of Tweets for Adaptive Faceted Search on Twitter](http://wis.ewi.tudelft.nl/iswc2011/)
* [Faveeo](http://faveeo.com/)

</div>
{% endfilter %}
{% endblock %}
