{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.load('visualization', '1.0', {'packages':['gauge']});
  
  google.setOnLoadCallback(drawTagChart);
  google.setOnLoadCallback(drawUserChart);
  google.setOnLoadCallback(drawUrlChart);
  google.setOnLoadCallback(drawPie);
  google.setOnLoadCallback(drawLine);

  function drawTagChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'hashtag');
    data.addColumn('number', 'Frequency');
    data.addRows([
      {% for tag in tag_count[:10]: %}
      ['{{ '#' + tag[0] }}', {{ tag[1] }}],
      {% endfor %}
    ]);

    var options = {
      width: 270, height: 200, fontSize: 12, title: 'Top Tags',
      chartArea:{left: 60, top: 20, width: '100%', height: '90%'}
    };

    var chart = new google.visualization.BarChart(document.getElementById('tag_count'));
    chart.draw(data, options);

    google.visualization.events.addListener(chart, 'select', selectHandler)

    function selectHandler(e) {
      query = data.getValue(chart.getSelection()[0].row, 0).slice(1);
      window.location.replace('/search?q=%23' + query);
    }
  }
  
  function drawUserChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'hashtag');
    data.addColumn('number', 'Frequency');
    data.addRows([
      {% for user in user_count[:10]: %}
      ['{{ '@' + user[0] }}', {{ user[1] }}],
      {% endfor %}
    ]);

    var options = {
      width: 270, height: 200, fontSize: 12, title: 'Top Users',
      chartArea:{left: 60, top: 20, width: '100%', height: '90%'}
    };

    var chart = new google.visualization.BarChart(document.getElementById('user_count'));
    chart.draw(data, options);
  }

  function drawUrlChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'hashtag');
    data.addColumn('number', 'Frequency');
    data.addRows([
      {% for url in url_count[:10]: %}
      ['{{ url[0] }}', {{ url[1] }}],
      {% endfor %}
    ]);

    var options = {
      width: 270, height: 200, fontSize: 12, title: 'Top Urls',
      chartArea:{left: 60, top: 20, width: '100%', height: '90%'}
    };

    var chart = new google.visualization.BarChart(document.getElementById('url_count'));
    chart.draw(data, options);
  }

  function drawPie() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Label');
    data.addColumn('number', 'Value');
    data.addRows([
      ['Positive', {{ sentiment['positive'] }}],
      ['Negative', {{ sentiment['negative'] }}],
      ['Neutral', {{ sentiment['neutral'] }}]
    ]);

    var options = {
      width: 300, height: 250, fontSize: 12, title: 'Sentiment',
      chartArea:{left: 10, top: 40, width: '100%', height: '80%'},
      colors: ['#00CC00', '#E8110F', '#36C']
    };

    var chart = new google.visualization.PieChart(document.getElementById('sentiment'));
    chart.draw(data, options);

    google.visualization.events.addListener(chart, 'select', selectHandler)

    function selectHandler(e) {
      sentiment = data.getValue(chart.getSelection()[0].row, 0);
      if (sentiment == 'Positive') {
        sentiment = 'success';
      } else if (sentiment == 'Negative') {
        sentiment = 'error';
      } else if (sentiment == 'Neutral') {
        sentiment = 'info';
      }
      
      rows = document.getElementById('results').getElementsByTagName('p');
      for (var i = 0; i < rows.length; i++) {
        rows[i].parentNode.parentNode.className = 'row';
        if (rows[i].className != 'alert-message block-message ' + sentiment) {
          rows[i].parentNode.parentNode.className += ' hidden';
        }
      }
    }
    
  }
  
  function drawLine() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Date');
    data.addColumn('number', 'Tweets');
    data.addRows([
      {% for time in activity_count: %}
      ['{{ time[0] }} hour ago', {{ time[1] }}],
      {% endfor %}
    ]);

    var options = {
      width: 520, height: 300,
      title: 'Activity',
      chartArea:{left: 60, top: 40, width: "90%", height: "70%"}
    };

    var chart = new google.visualization.LineChart(document.getElementById('activity_graph'));
      chart.draw(data, options);
    }  
</script>

<div id="tag_count"></div>
<div id="user_count"></div>
<div id="url_count"></div>
<div id="sentiment"></div>
<div id="activity_graph"></div>

{% print tweets|length, " sample tweets"  %}

<div id="results">
{% for tweet in tweets: %}
  <div class="row">
    <hr>
    <div class="span2 media-grid">
      <a href="{{ tweet['profile_image_url']|replace('normal', 'bigger') }}">
        <img src="{{ tweet['profile_image_url']|replace('normal', 'bigger') }}" width="73" class="thumbnail">
      </a>
    </div>

    <div class="span12">
      <h3>
        {{ tweet['from_user_name'] }}
        <small>{{ "@" + tweet['from_user'] }}</small>
        <span class="timesince">{{ tweet['created_at']|time_since }}</span>
      </h3>
      <p class="{{ tweet|sentiment_highlight }}">{{ tweet['text']|autolink|safe }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
